name: Upload to PyPi

on:
  push:
    tags:
      - 'v*'

jobs:
  Publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          
      - name: Download uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"

      - name: Install dependencies and build
        run: |
          uv sync --all-groups --frozen
          uv build

      - name: Publish to PyPI
        run: |
          uv publish --username __token__ --password ${{ secrets.PYPI_TOKEN }}

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create ${{ github.ref_name }} \
            dist/qtheme-*-py3-none-any.whl \
            --title "Qtheme ${{ github.ref_name }}" \
            --generate-notes

  Update-PKGBUILD:
    runs-on: ubuntu-latest
    needs:
      - Publish
    if: success()

    steps:
      - name: Clone project
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Download tarball
        run: |
          tag=$(git describe --tags --abbrev=0 | sed 's/^v//')
          wget https://github.com/loadept/qtheme/releases/download/v${tag}/qtheme-${tag}-py3-none-any.whl

      - name: Get SHA512 checksum
        run: |
          tag=$(git describe --tags --abbrev=0 | sed 's/^v//')
          sha=$(sha512sum qtheme-${tag}-py3-none-any.whl | awk '{print $1}')
          sed -i "s/^sha512sums=('.*')\$/sha512sums=('$sha')/" PKGBUILD
          sed -i "s/^pkgver=[0-9]\.[0-9]\.[0-9]/pkgver=$tag/" PKGBUILD
          rm -f "qtheme-${tag}-py3-none-any.whl"

      - name: Push commit
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add PKGBUILD
          git commit -m "update PKGBUILD for version ${tag}"
          git push origin HEAD:master
